.bovenkant {
  background: #fff;
  box-shadow: rgba(0, 0, 0, .1) 0px 1px 2px 0px;
  display: flex;
  position: relative;
  padding: 0 10px;
  border-radius: 4px;
}
.bovenkant > div {margin: auto 0; padding: 10px;}
.bovenkant > div a {color: inherit; text-decoration: none;}
.bovenkant > .info {display: flex;}
.bovenkant > .info img {height: 37px; margin: auto 10px auto 0; border-radius: 50px;}

.bovenkant .social {display: grid; grid-gap: 15px; grid-template-columns: 1fr 1fr 1fr 1fr; margin-left: auto;}

@media (max-width: 735px) {
  .bovenkant {flex-direction: column; padding: 0;}
  .bovenkant .social {margin: 0; grid-template-columns: 1fr 1fr; grid-gap: 5px;}
  .bovenkant > div {padding: 10px 10px 0;}
  .bovenkant > div:first-child {display: none;}
  .bovenkant > div:last-child {padding-bottom: 10px;}
}