.github {
  display: inline-block;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  text-align: left;
}

.github .titel {font-weight: 600; line-height: 1.25em;}

.github p {font-size: 15px; color: #586069;}
.github p a {color: #0366d6; text-decoration: none;}

.github small {display: flex;}
.github small span {display: inline-flex; margin-right: 10px;}
.github small span svg {margin: auto 3px auto 0;}
.github small span.stars svg {fill: #f1e05b;}