name: CI
on: push
jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Enable Corepack
        run: corepack enable
      - name: Install modules
        run: yarn install --immutable
      - name: Run ESLint
        run: yarn lint
      - name: Build project & generate types
        run: yarn build
      - name: Run TypeScript Check
        run: yarn check-types
  cypress:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Enable Corepack
        run: corepack enable
      - name: Run e2e tests
        uses: cypress-io/github-action@v7
        with:
          working-directory: frontend
          browser: firefox
          build: yarn build
          start: yarn serve
