name: CI
on: push
jobs:
  frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Enable Corepack
        run: corepack enable
      - name: Install modules
        run: yarn install --immutable
      - name: Run ESLint
        run: yarn lint
      - name: Build project & generate types
        run: yarn build
      - name: Run TypeScript Check
        run: yarn check-types
      - name: Run e2e tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: frontend
          browser: firefox
          start: yarn serve --port 3000

  backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Enable Corepack
        run: corepack enable
      - name: Install modules
        run: yarn install --immutable
      - name: Run ESLint
        run: yarn run lint
      - name: Run TypeScript Check
        run: yarn check-types
      - name: Build Sanity Studio
        run: yarn build
